@import "/src/style/general.scss";

.Stand {
    @include fix-nav-pos;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 800px) {
        grid-template-columns: auto;
    }
 
    gap: 1rem;

    .teams {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;

        padding: .5rem;
        gap: .75rem;

        border-bottom: .25rem solid var(--c2);
        border-left: .25rem solid var(--c2);
        border-radius: var(--rounded);

        background: var(--cb1);

        .team, .drivers > .driver {
            overflow: hidden;
            position: relative;
            z-index: 1;

            display: flex;
            align-items: center;
            justify-content: space-between;

            min-height: 4rem;

            border-bottom: .1rem solid var(--c1);
            border-right: .1rem solid var(--c1);
            border-radius: calc(var(--rounded)/2);

            color: var(--ca1);
            background: var(--cb1);

            & img {
                padding: .4rem;
                padding-bottom: .1rem;

                width: 4rem;
                aspect-ratio: 1;
                object-fit: contain;

                border-top-left-radius: var(--rounded);

                background: var(--c1);
            }

            &::before {
                background: var(--c1);
                content: "";
                inset: 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s ease-in-out;
                z-index: -1;
            }

            &:hover {
                &::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }
    
                & img {
                    background: var(--c2);
                }
            }
        }

        .pos {
            display: flex;
            align-items: center;
            justify-content: space-between;

            border-radius: var(--rounded);

            padding: .5rem;

            width: 100%;

            background: var(--c1);
            
            & h2 {
                display: grid;
                place-items: center;

                font-weight: 100;
                line-height: 2.75rem;
                font-size: 3rem;
            }
            & h3 {
                font-weight: 600;
                line-height: 1.7rem;
                font-size: 2rem;
            }
        }

        
        .team {
            height: 4rem;
            width: 100%;

            & h2 {
                padding: .5rem;
            }
            & img {}
         }

    .drivers {
        display: flex;
        flex-direction: column;

        gap: .5rem;
        
        .driver {
            & h2 {
                padding: .5rem;

                font-weight: 400;
            }
            & img {}
        }
    }


    .car {
        display: grid;
        place-items: center;

        border-radius: calc(var(--rounded)/2);
        
        background-color: var(--cb1);
        background-size: 35px 35px;
        background-image:  linear-gradient(#a00 1px, transparent 1px), linear-gradient(to right, #a00 1px, #000 1px);
        
        & img {
            width: 80%;
            aspect-ratio: 3;
            object-fit: contain;
            transition: scale 150ms ease-in-out;
        }

        &:hover {
            & img {
                scale: 1.1;
            }
        }
    }
    }
}


@media screen and (max-width: 325px) {
    .Stand {
        gap: .5rem;
        .teams {
            padding: .25rem;
            gap: .25rem;
    
            .pos, .team, .drivers > .driver {
                min-height: 3rem;
    
                & img {
                    padding: .2rem;
                    padding-bottom: 0;
    
                    width: 3rem;
                    aspect-ratio: 1;
                    object-fit: contain;
    
                    border-top-left-radius: var(--rounded);
    
                    background: var(--c1);
                }
            }
    
        }
    }
}