@import "/src/style/general.scss";

.CDown {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 18rem;

    @media screen and (max-width: 300px) {
        width: calc(100vw - 1rem);
    }

    gap: .2rem;
    padding: .25rem;

    border-radius: var(--rounded);
    
    box-shadow: 2.5px 2.5px 5px #000a;

    background: var(--c1);

    & h2 , .counter {
        overflow: hidden;
        border-radius: .5rem;
    }

    & h2 {
        flex: 1;

        padding: .5rem;

        text-align: center;
        font-weight: 600;

        letter-spacing: .1rem;
        
        background: var(--cb2);
    }
    
    .counter {
        flex: 2;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: .2rem;

        .wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: .5rem;

            background: var(--c2);

            & h3 {
                display: grid;
                place-items: center;
    
                font-size: 1.5rem;
                font-weight: 600;
            }
            & h4 {
                display: grid;
                place-items: center;

                font-size: .75rem;
                font-weight: 300;
            }
        }

    }
}