@import "/src/style/general.scss";

.Loader {
    position: absolute;
    right: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: calc(100vw - var(--pc));
    height: 100vh;

    background: var(--cb1);

    @media screen and (max-width: 600px) {
        width: 100%;
        height: calc(100vh - var(--bottom));
    }

    .wheel {
        width: 10rem;
        aspect-ratio: 1;

        object-fit: scale-down;

        animation: wheel 500ms infinite;
    }

    @keyframes wheel {
        from {
            transform: rotate(0deg);
        }
        from {
            transform: rotate(360deg);
        }
    }
}