.Calendar {
    display: grid;
    gap: .25rem;

    & header {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;

            & h1 {
                font-size: 6rem;
                line-height: 5rem;
                font-weight: 900;
                letter-spacing: -.1rem;
        
                filter: drop-shadow(0 0 5px #a00);
                color: #900; 
            }
            & h2 {
                letter-spacing: 1rem;
                padding-left: 1rem; // To compensate letter spacing that work at the end
                font-size: 2rem;
                font-weight: 400;
            }
        }
    
        & form {
            display: grid;
            grid-template-columns: 3fr 1fr;

            overflow: hidden;

            box-shadow: 0 0 4px #000a;
            border-radius: .5rem;
            background: #000;

            &:has(.send:hover) { background: #a00; }
            &:has(.send:active) { background: #800; }

            & input {
                padding: .5rem 0;
                padding-left: .5rem;
                
                border-radius: inherit;
                border: 1px solid transparent; // To avoid change of size on focus
                transition: 250ms ease-in-out;
                
                color: #000;
                background: #fff;

                &:focus { border: 1px solid #a00; }
            }
            & button {
                color: #fff;
                background: transparent;
            }
        }
    }

    // RACES COMPONENT
}