.Main {
    display: flex;
    flex-direction: column;

    gap: .5rem;

    .tCard {
        position: relative;

        overflow: hidden;
        width: 100%;
        max-height: 100vh;
        aspect-ratio: 2;

        display: flex;
        align-items: center;
        justify-content: start;

        outline: .5rem solid #000;

        & h1 {
            font-size: 10vw;
            font-weight: 900;
            line-height: 8vw;

            width: 60%;

            padding: 2vw;
        }

        & img {
            position: absolute;
            bottom: -39%;
            right: -39%;

            width: 100%;
        }
    }

    & h2 {
        width: 100%;

        font-weight: 600;
        text-align: center;

        padding: 2rem;
        padding-top: 2.5rem;
    }

    .links {
        display: flex;
        flex-wrap: wrap;

        gap: .5rem;
        padding: .5rem;

        & a {
            flex: 1;
            display: grid;
            place-items: center;

            min-width: 280px;
            
            padding: 1rem;

            border-radius: .25rem;

            color: #fff;
            background: #000;

            &:hover { color: #d00; }
        }
    }
}