.Race {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    
    // All scren - padding
    height: calc(100svh - 1.5rem);
    overflow: hidden;

    .raceInfo {
        display: grid;
        place-items: center;

        gap: 5px;

        background: #a00;
        
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;

            padding: 1rem;

            background: #fff;

            & h2 {
                font-size: 5rem;
                font-weight: 900;
            }

            & h1 {
               font-size: 1.1rem;
               font-weight: 500;
           }
           .location {
               display: flex;
               align-items: center;
               justify-content: center;
   
               gap: .1rem;
   
               font-size: .75rem;
               font-weight: 800;
   
               & svg { color: #a00; }
            }
        }
        .map {
            display: grid;
            place-items: center;

            height: 100%;
            width: 100%;

            padding: 1rem;

            background: #fff;
            
            & img {
                width: 100%;
                max-width: 300px;
            }
        }
    }

    .results {
        overflow: hidden;
        overflow-y: auto;
        // ResultTable
    }

    @media (max-width: 1000px) {
        grid-template-columns: auto;
        height: auto;

        .results { overflow: hidden; }
    }
}
