:root {
    --pc: 9.5rem;

    --bottom: 4rem;
}

@mixin fix-nav-pos {
    position: relative;
    
    margin-left: var(--pc);

    width: calc(100% - var(--pc));
    min-height: 100vh;
    
    padding: .5rem; 

    background: #111e;
    color: #fff;

    @media screen and (max-width: 600px) {
        min-height: auto;
        margin-left: 0;

        padding-bottom: var(--bottom);

        width: 100%;
    }
}