:root {
    // Info screen measures
    --pc: 9.5rem;
    --bottom: 4rem;

    // Components constants
    --rounded: .75rem;

    // Colors
    --c1: #800;
    --c2: #a00;
    
    --ca1: #fff;
    --ca2: #bbb;

    --cb1: #000;
    --cb2: #111;
    --cb3: #666;

    --cfast: #80a;
}


// Info screen
@mixin fix-nav-pos {
    position: relative;
    
    margin-left: var(--pc);

    width: calc(100% - var(--pc));
    min-height: 100vh;
    
    padding: .5rem; 

    color: #fff;
    background: #111;

    @media screen and (max-width: 600px) {
        min-height: calc(100svh - var(--bottom));
        margin-left: 0;

        padding-bottom: calc(var(--bottom) * 1.1);

        width: 100%;
    }
}