.PendingRace {
    grid-template-rows: auto auto 2.5rem;
    
    & img {
        padding: .25rem;

        width: 100%;
        aspect-ratio: 4.5;
        object-fit: contain;

        background: #fff;
    }
    .date {
        border: .5rem solid #fff;
        border-left: 0;
        border-right: 0;

        background: #fff;

        & h2 {
            display: grid;
            place-items: center;
    
            border-radius: .25rem;
    
            padding: .5rem;

            font-size: 1rem;
    
            color: #fff;
            background: #a00;
        }
    }
}