.Races {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    
    gap: .5rem;

    .race {
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        border-radius: .25rem;

        .main {
            display: flex;
            align-items: center;
            justify-content: space-between;

            gap: .25rem;
            padding: .5rem .75rem;

            color: #fff;
            background: #000;

            // Round number
            & h2 { font-weight: 300; }
            // Race title
            & h3 { font-size: .8rem; }
        }

        .sessions {
            display: flex;
            flex-direction: column-reverse;

            gap: 1px;

            background: #aaa;

            .session {
                display: flex;
                align-items: center;
                justify-content: space-between;

                padding: .25rem .5rem;

                color: #000;
                background: #ddd;
                
                &:nth-child(odd) { background: #eee; }

                & h4 { font-weight: 800; }

                & aside {
                    display: grid;
                    place-items: center;

                    text-align: center;

                    & h5 { font-weight: 700; font-size: .65rem; }
                    & h6 { font-weight: 800; font-size: .75rem; }
                }
            }
        }
    }
    .next {
        background: #a00;

        .main {
            & h2, h3 { color: #a00; font-weight: 900; }
        }

        .sessions {
            background: #a00;
        }
    }
}