.Results {
    display: grid;
    gap: 1px;

    overflow: hidden;
    
    border-top-right-radius: 10px;
    border-right: 2.5px solid #a00;

    .titles {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;

        padding: .5rem 0;

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        color: #fff;
        background: #a00;

        & h6, h4, h5 { font-size: .75rem; }
        .main {
            display: flex;
            justify-content: left;
            gap: 1rem;
            width: 100%;
            padding-left: 1rem;
        }
    }

    .drivers {
        display: grid;
        gap: 1px;

        border: .5rem solid #fff;
        border-top: 0;
        border-bottom: 0;

        background: #666;

        .driver {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr;

            padding: .5rem 0;

            background: #fff;

            .main {
                display: flex;
                align-items: center;
                justify-content: left;
                gap: .75rem;
                padding-left: 1rem;
                width: 100%;

                & h4 {
                font-size: 1rem;
                font-weight: 800;
                width: 1rem;
                text-align: center;
                }

                & a {
                    color: #000;
                    transition: 300ms;
                    &:hover { color: #a00; }

                    .name {
                        display: flex;
                        align-items: center;

                        gap: .25rem;

                        & h3 {
                            font-size: 1.25rem;
                            font-weight: 400;
                        }
                        & h2 {
                            font-size: 1.25rem;
                            font-weight: 800;
                        }
                    }
                    .mobileName { display: none; }
                }
            }
            & h5 {
                font-size: .8rem;
                font-weight: 500;
                text-align: center;
            }
        }
    }

    @media (max-width: 400px) {
        .titles { grid-template-columns: 1fr 3fr 2fr;   }
        .drivers {
            .driver {
                grid-template-columns: 1fr 3fr 2fr;
                
                .wideName { display: none; }
                .mobileName { display: flex; font-weight: 800; }
            }
        }
    }
}