.App {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1px;

    background: #fff;

    // NavBar

    .screen {
        min-height: 100svh;
        padding: .5rem;
        
        color: #fff;
        background: #000;
    }
}
