@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap");

/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Rajdhani", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
